@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --bg-colour: #4a3a42;
    --bg-bright: #655057;
    --text-colour: #f6edcd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--text-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cookie {
    position: fixed;
    top: 35%;
    transform: translate(0, -50%);
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

#cookie:hover {
    transform: translate(0, -50%) scale(1.05);
}

#form {
    position: relative;
    width: 20vw;
    height: 40px;
}

#form input {
    position: relative;
    outline: none !important;
    background: var(--bg-bright);
    font: 16px "Poppins";
    color: var(--text-colour);
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: center;
}

#form #searchBtn {
    position: absolute;
    background: var(--bg-bright);
    top: 50%;
    right: -2;
    height: 30px;
    width: 30px;
    border: none;
    color: var(--text-colour);
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transform: translate(-10px, -50%);
    transition: 0.15s ease-in-out;
}

#form #searchBtn.shown {
    opacity: 1;
    transform: translate(0, -50%);
    pointer-events: all
}
